:root {
    --primary-color: rgb(0, 102, 139);
    --secondary-color: rgb(105, 185, 214);
    --tertiary-color-one: rgb(171, 74, 74);
    --tertiary-color-two: rgb(158, 91, 28);

    --hover-primary-color: rgba(74, 105, 134, 0.35);
    --hover-secondary-color: rgba(105, 185, 214, .75);
    --hover-tertiary-color: rgba(255, 129, 129, .75);

    --background-color: white;
    --text-secondary-color: black;
    --text-primary-color: white;

    --github-color: rgb(111, 111, 111);
    --linkedin-color: rgb(44, 100, 188);
    --instagram-color: #E93F5B;
    --free-code-camp-color: rgb(111, 111, 111);
    --twitter-color: rgb(74, 153, 233);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    width: 100%;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

#navbar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: var(--primary-color);
    font-family: "Open Sans", arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
}
#filler {
    width: 100%;
    height: 100px;
}
#nav-bar-left{
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
    padding: 0 20px;
    flex: 1;
}
#nav-bar-right{
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    justify-content: right;
    align-items: center;
    background: var(--primary-color);
    padding: 0 20px;
    flex: 1;
}
#nav-bar-right a{
    padding: 0 20px;
}

.nav-link {
    display: flex;
    height: 100px;
    text-align: center;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
    padding: 0 20px;
}
.page-intro {
    background-color: rgba(0, 0, 0, 0.333);
    max-width: 800px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    /* padding-bottom: 15px; */
    border-radius: 15px;
    position: relative;
    text-align: center;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 0;
}
#drop-down-btn{
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    height: 15px;
    width: 100%;
    color: white;
}
#into-p-1 {
    display: static;
}
#into-p-2 {
    display: none;
}
#into-p-3 {
    display: none;
}
.read-more-btn {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 15px;
    /* background-color: var(--primary-color); */
    background-color: var(--tertiary-color-one);
    color: white;
    display: none;
}
/* #navbar ul {
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;
        list-style: none;
        justify-content: space-between;
}

#navbar li {
        padding: 15px 15px;
        margin: auto auto;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
} */
.a-nav-links {
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: bold;
    text-align: center;
}
.a-nav-links:hover {
    color: var(--hover-secondary-color);
}


main {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#overview h3 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#overview img {
    display: block;
    width: 100%;
    height: 25%;
    margin: 15px auto;
}

#overview {
    margin-top: 130px;
    margin-bottom: 0;
    height: 100vw;
    width: 100%;
}

#overview p {
    text-align: center;
}

#hero-image-div {
    height: 600px;
    /* width: 100%; */
    /* width: 80%; */
    /* margin: 0 auto; */
    overflow: hidden;
    z-index: 1;
    background-image: url("img/AdobeStock_2196819.jpeg");
    background-position: center;
    background-size: cover;
}

#hero-image {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;

}

#profile-image-div {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.22);

}

#profile-image-h1 {
    color: white;
    text-align: center;
    margin: 50px auto;
    width: 80%;
    font-size: 30px;
    letter-spacing: .07em;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#profile-image {
    z-index: 2;
    height: 20vh;
    box-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}


.header-div {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: var(--text-secondary-color);
}



#bio {
    padding-top: 10px;
    padding-bottom: 30px;
}



/* #project-tiles {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin: 0;
    width: 400vw;
} */



/* .project-tile img {
    width: 100%;
} */

.highlights {
    width: 80%;
    margin: 0 0;
    text-align: left;
}

#links {
    margin-bottom: 200px;
    padding-bottom: 30px;
}

#links ul {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#links li {
    width: 20%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#links a {
    text-decoration: none;
    color: black;

}

/* .fab.fa-github:hover {
    color: rgb(111, 111, 111);
}

.fab.fa-linkedin:hover {
    color: rgb(44, 100, 188);
}

.fab.fa-instagram:hover {
    color: #E93F5B;
}

.fab.fa-free-code-camp:hover {
    color: rgb(111, 111, 111);
}

.fab.fa-twitter:hover {
    color: rgb(74, 153, 233);
} */

/* @media(min-width: 1101px) {
        .project-tile {
                width: calc(25% - 48px);
                margin: 0% 0%;
                height: fit-content;
        }
}

@media(max-width: 1100px) {
        .project-tile {
                width: calc(48% - 24px);
                height: fit-content;
                margin: 2% 2%;
        }
}
*/

#mobile-drop-down-left {
    position: absolute;
    display: none;
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 3;
}
#mobile-drop-down-right {
    position: absolute;
    display: none;
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 3;
    flex-direction: column;
}
#composite-menu-icon{
    display: inline;
    width: 50px;
    height: 50px;
}
#angle-down-l{
    display: none;
}
#angle-down-r{
    display: none;
}
#menu-icon-bars {
    display: inline;
}


.an-drop-nav-link{
    width: 100%;
}
.drop-nav-link {
    color: var(--primary-color);
    display: flex;
    width: 100%;
    height: 100px;
    align-items:center;
    justify-content: center;
    background-color: white;
}
.drop-nav-link:hover {
    background-color: var(--hover-primary-color);
}
.mobile-menu-icon {
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.mobile-menu-icon:hover {
    color: rgba(255, 255, 255, 0.75);
}
#top-cover {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
}
#bottom-cover {
    display: none;
    position: absolute;
    top: 886px;
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
}
.horizontal-scroll-window-meta {
    text-align: center;
    height: 50px;
}

.horizontal-scroll-window{
    display: flex;
    flex-direction: column;
    height: 100vw;
    margin: 0;

    width: 100vw;
    background-color: white;
    position: relative;
    overflow-x: scroll;
    overflow-y: visible;
    scroll-margin: 50vw;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.horizontal-scroll-window-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vw;
    margin: 0;
    width: 400vw;
}
.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vw;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.project-tile h3 {
    display: block;
    width: 100%;
    text-align: left;
}
.project-meta {
    display: flex;
    flex-direction: row;
}


#project-1 {
    overflow: hidden;
    background-image: url("img/SlopeBackdrop.jpg");
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#project-2 {
    background-image: url("img/TriangleBackdrop1.jpg");

    overflow: hidden;
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#project-3 {
    background-image: url("img/TriangleBackdrop1.jpg");
    overflow: hidden;
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#project-4 {
    background-image: url("img/TriangleBackdrop1.jpg");
    overflow: hidden;
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#writing-1 {
    overflow: hidden;
    background-image: url("img/SlopeBackdrop.jpg");
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#writing-2 {
    background-image: url("img/TriangleBackdrop1.jpg");

    overflow: hidden;
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#writing-3 {
    background-image: url("img/TriangleBackdrop1.jpg");
    overflow: hidden;
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#writing-4 {
    background-image: url("img/TriangleBackdrop1.jpg");
    overflow: hidden;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

/* #silder-wrapper{
    margin-left: 5%;
    margin-right: 5%;
}
#hero {
    margin-top: 130px;
} */

/********  Slider ********/
.slide-viewer {
    overflow: hidden;
    height: 40vw;
    width: 100%;
}
.slide-group {
    height: 100%;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}

.slide {
    position: relative;
}
.slide img{
    width: 100%;
    height: 100%;
}

.slide:first-child {
    display: block;
}
.slide-buttons {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.tile-buttons {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.slide-btn{
    height: 4px;
    width: 4px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--primary-color);
    margin: 3px;
}

.active {
    background-color: var(--primary-color);

}

.slide-number {
    position: absolute;
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    left: 0;
    z-index: 2;
    font-size: 15px;
    text-align: center;
}

.slide-number p{
    background-color: rgba(84, 84, 84, 0.618);
    color: white;
    height: 20px;
    width: fit-content;
    padding: 4px 6px 2px 6px;
    margin: 10px;
    border-radius: 20px;
}
@media(min-width: 851px) {
    .mobile-menu-icon {
        display: none;
    }
    .an-drop-nav-link {
        display: none;
    }
    #mobile-drop-down-right {
        display: none !important;
    }
    #mobile-drop-down-left {
        display: none;
    }
    #top-cover  {
        display: none !important;
    }
    #botton-cover {
        display: none !important;
    }
}
@media(max-width: 850px) {
    .a-nav-links {
        display: none;
    }
}

@media (min-aspect-ratio: 1/1) {
    .horizontal-scroll-window {
        margin-top: 0px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        /* height: 100vh; */
        height: calc(100vh - 150px);
        width: 100vh;
        background-color: white;
    }
    .horizontal-scroll-window-wrapper{
        margin: 0 0;
        padding: 0 0;
        height: 50vh;
        width: 400vh;
        /* width: calc(550vh - 45vw); */
        background-color: white;
    }
    .project-tile {
        height: calc(100vh - 150px);
        width: 100vh;
    }
    .slide-number {
        width: 100vh;
        left: calc(50vw  - 50vh);
        z-index: 2;
    }
    
  }
