:root {
    --primary-color: rgb(0, 102, 139);
    --secondary-color: rgb(105, 185, 214);
    --tertiary-color-one: rgb(255, 129, 129);
    --tertiary-color-two: rgb(158, 91, 28);

    --hover-primary-color: rgba(74, 105, 134, 0.35);
    --hover-secondary-color: rgba(105, 185, 214, .75);
    --hover-tertiary-color: rgba(255, 129, 129, .75);

    --background-color: white;
    --text-secondary-color: black;
    --text-primary-color: white;

    --github-color: rgb(111, 111, 111);
    --linkedin-color: rgb(44, 100, 188);
    --instagram-color: #E93F5B;
    --free-code-camp-color: rgb(111, 111, 111);
    --twitter-color: rgb(74, 153, 233);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    width: 100%;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

#navbar {
    width: 100%;
    height: 100px;
    background: var(--primary-color);
    font-family: "Open Sans", arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#nav-bar-left{
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
    padding: 0 20px;
    flex: 1;
}
#nav-bar-right{
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    justify-content: right;
    align-items: center;
    background: var(--primary-color);
    padding: 0 20px;
    flex: 1;
}
#nav-bar-right a{
    padding: 0 20px;
}

.nav-link {
    display: flex;
    height: 100px;
    text-align: center;
    justify-content: left;
    align-items: center;
    background: var(--primary-color);
    padding: 0 20px;
}

/* #navbar ul {
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;
        list-style: none;
        justify-content: space-between;
}

#navbar li {
        padding: 15px 15px;
        margin: auto auto;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
} */
.a-nav-links {
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: bold;
    text-align: center;
}
.a-nav-links:hover {
    color: var(--hover-secondary-color);
}


main {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#overview h3 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#overview img {
    display: block;
    width: 100%;
    height: 25%;
    margin: 15px auto;
}

#overview {
    margin-top: 130px;
    margin-bottom: 0;
    height: 100vw;
    width: 100%;
}

#overview p {
    text-align: center;
}

#hero-image-div {
    height: 600px;
    /* width: 100%; */
    /* width: 80%; */
    /* margin: 0 auto; */
    overflow: hidden;
    z-index: 1;
    background-image: url("img/AdobeStock_2196819.jpeg");
    background-position: center;
    background-size: cover;
}

#hero-image {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;

}

#profile-image-div {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.22);

}

#profile-image-h1 {
    color: white;
    text-align: center;
    margin: 50px auto;
    width: 80%;
    font-size: 30px;
    letter-spacing: .07em;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#profile-image {
    z-index: 2;
    height: 20vh;
    box-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}


.header-div {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: var(--text-secondary-color);
}



#bio {
    padding-top: 10px;
    padding-bottom: 30px;
}

.horizontal-scroll-window{
    display: flex;
    flex-direction: column;
    height: 100vw;
    width: 100vw;
    background-color: white;
    position: relative;
    overflow-y: scroll;
}
.horizontal-scroll-window-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vw;
    width: 500vw;
}

/* #project-tiles {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin: 0;
    width: 400vw;
} */

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    height: 100vw;
    width: 100vw;
    box-sizing: border-box;
}

.project-tile h3 {
    display: block;
    width: 100%;
    margin: 5% auto;
    text-align: center;
}

/* .project-tile img {
    width: 100%;
} */

.highlights {
    width: 80%;
    margin: 0 10%;
    text-align: left;
}

#links {
    margin-bottom: 200px;
    padding-bottom: 30px;
}

#links ul {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#links li {
    width: 20%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#links a {
    text-decoration: none;
    color: black;

}

/* .fab.fa-github:hover {
    color: rgb(111, 111, 111);
}

.fab.fa-linkedin:hover {
    color: rgb(44, 100, 188);
}

.fab.fa-instagram:hover {
    color: #E93F5B;
}

.fab.fa-free-code-camp:hover {
    color: rgb(111, 111, 111);
}

.fab.fa-twitter:hover {
    color: rgb(74, 153, 233);
} */

/* @media(min-width: 1101px) {
        .project-tile {
                width: calc(25% - 48px);
                margin: 0% 0%;
                height: fit-content;
        }
}

@media(max-width: 1100px) {
        .project-tile {
                width: calc(48% - 24px);
                height: fit-content;
                margin: 2% 2%;
        }
}
*/

#mobile-drop-down-left {
    position: absolute;
    display: none;
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 1;
}
#mobile-drop-down-right {
    position: absolute;
    display: none;
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    flex-direction: column;
}
#composite-menu-icon{
    display: inline;
    width: 50px;
    height: 50px;
}
#angle-down-l{
    display: none;
}
#angle-down-r{
    display: none;
}
#menu-icon-bars {
    display: inline;
}


.an-drop-nav-link{
    width: 100%;
}
.drop-nav-link {
    color: var(--primary-color);
    display: flex;
    width: 100%;
    height: 100px;
    align-items:center;
    justify-content: center;
    background-color: white;
}
.drop-nav-link:hover {
    background-color: var(--hover-primary-color);
}
.mobile-menu-icon {
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-menu-icon:hover {
    color: rgba(255, 255, 255, 0.75);
}
#top-cover {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
}
#bottom-cover {
    display: none;
    position: absolute;
    top: 886px;
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
}
@media(min-width: 851px) {
    .mobile-menu-icon {
        display: none;
    }
    .an-drop-nav-link {
        display: none;
    }
    #mobile-drop-down-right {
        display: none !important;
    }
    #mobile-drop-down-left {
        display: none;
    }
    #top-cover  {
        display: none !important;
    }
    #botton-cover {
        display: none !important;
    }
}
@media(max-width: 850px) {
    .a-nav-links {
        display: none;
    }
}

@media (min-aspect-ratio: 1/1) {
    .horizontal-scroll-window {
        margin: 0 auto;
        height: 100vh;
        width: 100vw;
        background-color: white;
    }
    .horizontal-scroll-window-wrapper{
        margin: 0 0;
        padding: 0 calc((50vw - 45vh));
        height: 100vh;
        width: calc(550vh - 50vw);
        background-color: white;
    }
    .project-tile {
        height: 100vh;
        width: 100vh;
    }
    
  }
